Repository informalsystems/quint, pull requests merged in 2023-09, with the labels that each got.

#1140 Adding a specification of hashes to the examples
  examples/README.md
  examples/cryptography/hashes.qnt
  examples/cryptography/hashesTest.qnt
Labels: example

#1144 Add VSCode launch config for the VSCode extension
  vscode/quint-vscode/.vscode/launch.json
Labels: Fvscode

#1147 Fix a typo in `foldl` builtin docs
  doc/builtin.md
  quint/src/builtin.qnt
Labels: doc

#1143 Add partial completion and rename functionality in LSP/VSCode
  quint/src/effects/builtinSignatures.ts
  quint/src/index.ts
  quint/src/ir/IRFinder.ts
  quint/test/ir/IRFinder.test.ts
  vscode/quint-vscode/CHANGELOG.md
  vscode/quint-vscode/server/src/complete.ts
  vscode/quint-vscode/server/src/rename.ts
  vscode/quint-vscode/server/src/reporting.ts
  vscode/quint-vscode/server/src/server.ts
Labels: Fvscode, usability
