Repository informalsystems/quint, pull requests merged in 2023-11, with the labels that each got.

#1234 Fix broken link
  doc/quint.md
Labels: bug, doc

#1237 Refactoring parser tests
  quint/src/parsing/parseErrors.ts
  quint/test/parsing/quintParserFrontend.test.ts
  quint/testFixture/_1002emptyWithError.json
  quint/testFixture/_1002emptyWithError.qnt
  quint/testFixture/_1005constRecordsError.json
  quint/testFixture/_1005constRecordsError.qnt
  quint/testFixture/_1006unexpectedExpr.json
  quint/testFixture/_1006unexpectedExpr.map.json
  quint/testFixture/_1006unexpectedExpr.qnt
  quint/testFixture/_1007unexpectedToken.json
  quint/testFixture/_1007unexpectedToken.qnt
  quint/testFixture/_1008unexpectedEq.json
  quint/testFixture/_1008unexpectedEq.qnt
  quint/testFixture/_1009infixFewArgs.json
  quint/testFixture/_1009infixFewArgs.qnt
  quint/testFixture/_1024importFromSyntaxError.json
  quint/testFixture/_1024importFromSyntaxError.qnt
  quint/testFixture/_1029spreadError.json
  quint/testFixture/_1029spreadError.qnt
Labels: refactoring, Fparser (phase 1)

#1246 add frequently asked questions
  README.md
  doc/faq.md
Labels: doc

#1269 update the cheatsheet
  doc/quint-cheatsheet.key
  doc/quint-cheatsheet.pdf
Labels: doc

#1268 Toposort on modules
  CHANGELOG.md
  quint/cli-tests.md
  quint/src/parsing/quintParserFrontend.ts
  quint/test/effects/modeChecker.test.ts
  quint/test/static/callgraph.test.ts
  quint/testFixture/SuperSpec.json
  quint/testFixture/_1010undefinedName.json
  quint/testFixture/_1026importCycleA.json
  quint/testFixture/_1027importCycleB.json
  quint/testFixture/_1028importCycleC.json
  quint/testFixture/_1052one.qnt
  quint/testFixture/_1053two.qnt
  quint/testFixture/modulesAndJunk.json
Labels: refactoring, feedback
