Repository informalsystems/quint, pull requests merged in 2023-03, with the labels that each got.

#694 add a dashboard for the examples
  examples/README.md
  examples/classic/distributed/ClockSync/clockSync3.qnt
  examples/classic/distributed/LamportMutex/LamportMutex.qnt
  examples/classic/distributed/Paxos/Paxos.qnt
  examples/classic/distributed/Paxos/Voting.qnt
  examples/classic/distributed/ReadersWriters/ReadersWriters.qnt
  examples/classic/distributed/ewd840/ewd840.qnt
  examples/classic/sequential/BinSearch/BinSearch.qnt
  examples/puzzles/tictactoe/tictactoe.qnt
  examples/solidity/ERC20/erc20.qnt
  examples/solidity/SimpleAuction/SimpleAuctionNonComposable.qnt
  quint/cli-tests.md
Labels: product-priority, example

#718 Update the syntax for instances in ADR006
  doc/adr006-modules.lit.md
Labels: architecture

#733 Remove extraneous punctuation
  README.md
Labels: doc

#736 Add a lottery example
  examples/README.md
  examples/solidity/icse23-fig7/README.md
  examples/solidity/icse23-fig7/lottery.qnt
  quint/cli-tests.md
Labels: example
